

.day{
    background-color: #fdfff0;
}

.night{
    background-color: #4d4b6891;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5%;
    margin-bottom: 1rem;
}

.weather-icon span {
    /*max-width: 300px;
    height: auto;*/
    font-size: clamp(3vw, 6.5vw, 10vw);
}

.temperature {
    font-size: 48px;
    font-weight: bold;
}

.weather-desc{
    font-size: 32px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .weather-info {
        flex-direction: column;
        align-items: center;
    }

    .temperature {
        font-size: clamp(24px, 5vw, 48px);
    }

    .weather-desc {
        font-size: clamp(16px, 4vw, 32px);
    }
    
}